* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include UbuReg;
  font-size: $mainFontSize;
  color: $mainColor;
}

::-webkit-scrollbar {
  width: 0.6vmax;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

li {
  list-style: none;
}